<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=Open+Sans:wght@300;400;500;700&display=swap"
          rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/i18next/dist/umd/i18next.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/i18next-browser-languagedetector/dist/umd/i18nextBrowserLanguageDetector.min.js"></script>
    <title>Кіру</title>
</head>
<body>
<div id="navbar-placeholder"></div>
<div class="login-page">
    <form class="login-page__form" action="/login" method="post">
        <h1 class="login-page__title" data-i18n="login-page__title"></h1>
        <div class="login-page__form-items">
            <div class="form__item">
                <label for="email" data-i18n="label-email"></label>
                <input name="email" id="email" type="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" required>
            </div>
            <div class="form__item">
                <label for="password" data-i18n="label-password"></label>
                <input name="password" id="password" type="text"  required>
            </div>
            <div class="btn"><button type="submit" class="login_form__submit-btn" data-i18n="login_form__submit-btn"><a></a></button></div>
            <p class="form__forgot-acc" data-i18n="form__forgot-acc"></p>
            <a href="/register" class="register-link" data-i18n="register-link"></a>
        </div>
    </form>
</div>

<script type="module" src="../imports.js"></script>
<script type="module" src="../translation/translation.js"></script>
</body>
</html>
