<!-- create profile modal course -->
<div class="modal fade" id="updateModall" tabindex="-1" aria-labelledby="updateModalLabell" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/profile/<%= users._id %>/courses" method="POST" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLabel" data-i18n="create--course--link">Create course</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="title" class="form-label" data-i18n="title--link">Title</label>
                        <input type="text" class="form-control" id="title" name="title" required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label" data-i18n="description--link">Description</label>
                        <textarea type="text" class="form-control" id="description" name="description" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label" data-i18n="price--link">Price</label>
                        <input type="number" class="form-control" id="price" name="price" required>
                    </div>
                    <div class="mb-3">
                        <label for="direction" class="form-label" data-i18n="direction--link">Direction</label>
                        <select class="form-control" id="direction" name="direction" required>
                            <option value="Работа с родителями" data-i18n="work-parents">Работа с родителями</option>
                            <option value="Работа с детьми" data-i18n="work-kids">Работа с детьми</option>
                            <option value="Личный опыт" data-i18n="personal-experience">Личный опыт</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="pdf" class="form-label" data-i18n="upload--link">Upload:</label>
                        <input type="file" class="form-control" id="pdf" name="pdf" accept=".doc, .docx, .ppt, .pptx, .pdf, .zip">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn--link btn btn-secondary" data-bs-dismiss="modal" data-i18n="close--link">Close</button>
                        <button type="submit" class="btn--link btn btn-primary" data-i18n="save--link">Save changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>