<!-- update profile modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/profile/<%= users._id %>/update" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLabel" data-i18n="update--link">Edit Profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="name" class="form-label" data-i18n="name--link">Name</label>
                        <input type="text" class="form-control" id="name" name="name" value="<%= users.name%>">
                    </div>
                    <div class="mb-3">
                        <label for="surname" class="form-label" data-i18n="surname--link">Surname</label>
                        <input type="text" class="form-control" id="surname" name="surname" value="<%= users.surname%>">
                    </div>
                    <div class="mb-3">
                        <label for="lastname" class="form-label" data-i18n="lastname--link">Lastname</label>
                        <input type="text" class="form-control" id="lastname" name="lastname" value="<%= users.lastname%>">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label" data-i18n="password--link">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn--link btn btn-secondary" data-bs-dismiss="modal" data-i18n="close--link">Close</button>
                    <button type="submit" class="btn--link btn btn-primary" data-i18n="save--link">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>