<section id="nemere__main">
    <div class="nemere__main">
        <div class="main__left">
            <img class="main__logo" src="/assets/nemere-logo.jpg" alt="">
            <h1 class="main__title">
                <span class="main__title-part" data-i18n="main-title-part-first">Оқу әр</span>
                <span class="main__title-part" data-i18n="main-title-part-second">Балаға қызықты</span>
            </h1>
            <p class="main__subtitle">Сапалы оқыту мен жан-жақты дамытуды жүзеге асыра отырып, еркін әрекет ететін,
                қиялы ұшқыр, салауатты, қоғамға тез бейімделетін тұлға қалыптастыру.</p>
        </div>
        <div class="main__right">
            <img class="main__picture" src="/assets/main__picture.png" alt="">
        </div>
    </div>
    <div id="main__ellipse"><img class="main__ellipse" src="/assets/main__elipse.png" alt=""></div>
</section>