<section id="footer">
    <div class="footer">
        <div class="footer__top">
            <div class="footer__about-company">
                <h3 class="about-company__title" data-i18n="about-company-title-address">Пошталық мекенжай</h3>
                <p class="about-company__subtitle" data-i18n="about-company-subtitle-address">Қазақстан, Семей Қаласы,
                    Докучаева көшесі 7, Немере балабақшасы</p>
            </div>
            <div class="footer__about-company">
                <h3 class="about-company__title" data-i18n="about-company-title-job-time">Жұмыс уақыты</h3>
                <p class="about-company__subtitle" data-i18n="about-company-subtitle-job-time">Дүйсенбі-жұма 8.00_18.00
                    Сенбі-жексенбі демалыс күндері</p>
            </div>
            <div class="footer__about-company">
                <h3 class="about-company__title" data-i18n="about-company-title-kids-time">Балалар сағаттары</h3>
                <p class="about-company__subtitle" data-i18n="about-company-subtitle-kids-time">Дүйсенбі-Сенбі 9.00_17.00
                    Жексенбі демалыс күні</p>
            </div>
            <div class="footer__about-company footer__social-networks">
                <h3 class="about-company__title" data-i18n="about-company-title-social-networks">Әлеуметтік желілер</h3>
                <div class="social-networks__top">
                    <div class="social-network">
                        <a href="https://wa.me/77028416685"><img src="/assets/whatsapp.png" alt=""></a>
                        <p class="social-network__paragraph">Whatsapp</p>
                    </div>
                    <p class="social-network__paragraph">+7 (702) 841 6685</p>
                </div>
                <div class="social-networks__top">
                    <div class="social-network">
                        <a href="https://instagram.com/nemeresadik?igshid=MmU2YjMzNjRlOQ=="><img src="/assets/instagram.png" alt=""></a>
                        <p class="social-network__paragraph">Instagram</p>
                    </div>
                    <p class="social-network__paragraph">@nemeresadik</p>
                </div>
            </div>
        </div>
        <p class="footer__email" data-i18n="about-company-subtitle-email">detsadnemere@gmail.com</p>
    </div>
</section>