<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url('/assets/slider1.png');"></div>
        <div class="swiper-slide" style="background-image: url('/assets/slider2.png');"></div>
        <div class="swiper-slide" style="background-image: url('/assets/slider3.png');"></div>
        <div class="swiper-slide" style="background-image: url('/assets/slider4.png');"></div>
        <div class="swiper-slide" style="background-image: url('/assets/slider5.png');"></div>
        <div class="swiper-slide" style="background-image: url('/assets/slider6.png');"></div>
        <div class="swiper-slide" style="background-image: url('/assets/slider7.png');"></div>
        <div class="swiper-slide" style="background-image: url('/assets/slider8.png');"></div>
    </div>
    <div class="swiper-pagination"></div>
</div>

