body {
    width: 100vw;
    overflow-x: hidden;
}

.map {
    width: 90%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EDE2DC;
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
    margin-left: 80px;
    border-radius: 16px;
}

#map {
    width: 90%;
    height: 90%;
    overflow: hidden;
    margin-left: 50px;
    margin-top: 20px;
}