* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Roboto Light';
}

/* why-do-they-love-us */

#why-do-they-love-us {
    background-color: #EDE2DC;
    border-radius: 0 400px 0 0;
    height: 600px;
    position: relative;
    z-index: 5;
}

.why-do-they-love-us {
    padding-top: 50px;
}

.why-do-they-love-us__title {
    font-size: 64px;
    font-weight: 300;
    text-align: center;
}

.why-do-they-love-us__line {
    position: relative;
    width: 406px;
    margin: 20px auto;
    border-top: 10px solid #FDC221;
}

.why-do-they-love-us__blocks {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}

.block {
    width: 250px;
    padding-top: 20px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

.image-first {
    background-color: #FFDED4;
    border-radius: 10px;
}

.image-second {
    background-color: #FFEED4;
    border-radius: 10px;
}

.image-third {
    background-color: #D4F0FF;
    border-radius: 10px;
}

.image-fourth {
    background-color: #FFD4D4;
    border-radius: 10px;
}

.image-text {
    margin-top: 15px;
    font-size: 24px;
}

#text-container {
    margin: 20px 0 0 100px;
    display: flex;
}

#text-container h1 {
    font-size: 50px;
    font-weight: 400;
}

#text-container p {
    width: 80%;
    font-size: 24px;
    color: rgb(128, 128, 128);
    margin-top: 30px;
    text-align: justify;
}

#text-container img {
    margin-right: 50px;
    border-radius: 20px;
}

.slider-container {
    display: none;
}

/* Our teachers */
#our-teachers {
    height: auto;
}

.our-teachers {
    position: relative;
    padding-top: 60px;
}

.our-teachers__title {
    font-size: 64px;
    font-weight: 300;
    text-align: center;
}

.teachers {
    padding: 80px 0 0 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.teacher {
    width: 20%;
    z-index: 95;
}

.teacher__img {
    border-radius: 50%;
}

.teacher-twelve {
    width: 186px;
    height: 184px;
}

.teacher-fourteen {
    width: 186px;
    height: 184px;
    transform: scaleX(-1);
}

.first {
    transform: scaleX(-1);
}

.eight {
    width: 186px;
    height: 184px;
}

.teacher__fio {
    width: 85%;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-left: -10%;
}

.teacher-ellipse {
    position: absolute;
    width: 600px;
    height: 600px;
    top: 50px;
    left: 0;
    z-index: 1;
}

/* Go to gallery */
.our-gallery {
    min-height: 100vh;
    margin-top: 150px;
}

.our-gallery__title {
    font-size: 64px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 180px;
}

.our-gallery__go-to-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-gallery__btn {
    width: 15%;
    height: 66px;
    background-color: #123D6A;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
    cursor: pointer;
}

@media (max-width: 850px) {
    .why-do-they-love-us__title {
        font-size: 25px;
        margin-top: 15px;
    }

    .why-do-they-love-us__line {
        margin-top: 54px;
    }
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    #why-do-they-love-us {
        border-radius: 0;
    }

    .block {
        display: none;
    }

    .slider-container {
        width: 450px;
        display: block;
        overflow: hidden;
    }

    .slider {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .slide {
        flex: 0 0 45%;
        text-align: center;
        padding-top: 20px;
        background-color: white;
        border-radius: 10px;
        margin: 0 120px;
        cursor: pointer;
    }

    .why-do-they-love-us {
        max-width: 100%;
        padding: 20px;
        text-align: center;
    }

    .why-do-they-love-us__title {
        font-size: 30px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 96px;
    }

    .why-do-they-love-us__line {
        position: relative;
        width: 300px;
        margin: 20px auto;
        border-top: 10px solid #FDC221;
    }

    .teachers {
        padding-right: 180px;
        gap: 190px;
    }

    .teacher {
        width: 10%;
    }

    .teacher-ellipse {
        display: none;
    }

    .our-gallery__btn {
        width: 30%;
    }

    #text-container h1 {
        margin-left: -20%;
        font-size: 36px;
    }

    .image-text {
        font-size: 17px;
    }

    #text-container p {
        width: 100%;
        margin-left: -19%;
    }
}
