* {
    padding: 0;
    margin: 0;
}

.content {
    flex: 1;
    margin-bottom: 15px;
}

.teacher {
    position: relative;
    z-index: 95;
}

.teacher__block {
    background: #EDE2DC;
    width: 700px;
    padding: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.left {
    margin-left: 100px;
    border-radius: 0 400px 0 0;
}

.teacher__block.left img:not(.first) {
    transform: scaleX(-1);
}

.teacher__block.left .teacher__description {
    margin-left: 70px;
}

.teacher__block.right {
    margin: 0 100px 0 auto;
    border-radius: 400px 0 0 0;
    position: relative;
}

.teacher__block.right .teacher__description {
    order: -1;
    margin-left: 100px;
}

.teacher__block.right img {
    margin-left: 20px;
}

.teacher__block.right .eight {
    transform: scaleX(-1);
}

.teacher__block img {
    border-radius: 50%;
}

.teacher__img {
    border-radius: 50%;
    margin-right: 10px;
}

.teacher__eight {
    width: 186px;
    height: 184px;
}

.teacher__thirteen {
    width: 186px;
    height: 184px;
    transform: scaleX(-1);
}

.teacher__fourteen {
    width: 186px;
    height: 184px;
    transform: scaleX(-1);
}

.teacher__fio {
    width: 80%;
    font-size: 25px;
    font-weight: 600;
    margin-left: 20px;
}

.teacher__position {
    font-size: 25px;
    font-weight: 400;
    margin-left: 20px;
    margin-top: 30px;
}

.medal-img {
    width: 44px;
    height: 79px;
    position: absolute;
    top: -9px;
    left: 220px;
}

.medal-right {
    position: absolute;
    top: -9px;
    left: 400px;
}

.teacher-twelve {
    width: 186px;
    height: 184px;
}

#footer {
    margin-top: auto;
    clear: both;
    position: relative;
    z-index: 1;
}

@media (max-width: 1500px) {
    .teacher {
        margin-top: 10%;
    }
}

@media (max-width: 1000px) {
    .teacher {
        margin-top: 20%;
    }
}

@media (max-width: 768px) {
    .teacher {
        margin-bottom: 40%;
    }

    .teacher__block {
        flex-direction: column;
    }

    .teacher__description {
        margin-left: 31%;
        margin-top: 5%;
    }

    .teacher__block.left, .teacher__block.right {
        margin: 0;
        border-radius: 0;
    }

    .medal-img {
        margin-left: 30%;
    }

    .teacher__block.right .teacher__description {
        order: 0;
        margin-left: 30%;
    }
}

@media (max-width: 722px) {
    body {
        overflow-x: hidden;
    }
}
