<% courses.forEach(function(course, i) { %>
    <!-- Delete modal -->
    <div class="modal fade" id="approveModal<%= i %>" tabindex="-1" aria-labelledby="approveModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/admin/courses/approve/<%= course._id %>/course" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="approveModalLabel" data-i18n="approve--link">Одобрить</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h2 class="btn--link" data-i18n="approve--course--link">Одобрить курс</h2>
                        <p class="btn--link" data-i18n="approve--course--text--link">Вы уверены что хотите одобрить этот курс?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn--link btn btn-secondary" data-bs-dismiss="modal" data-i18n="close--link">Закрыть</button>
                        <button type="submit" class="btn--link btn btn-primary" data-i18n="approve--link">Одобрить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<% }); %>
