<% helps.forEach(function(help, i) { %>
    <!-- Delete modal -->
    <div class="modal fade" id="deleteHelpModal<%= i %>" tabindex="-1" aria-labelledby="deleteHelpModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/admin/helps/delete/<%= help._id %>" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteHelpModalLabel" data-i18n="delete--link">Удалить</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h2 class="btn--link" data-i18n="delete--message--link">Удалить сообщение</h2>
                        <p class="btn--link" data-i18n="delete--message--text--link">Вы уверены что хотите удалить эту запись?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn--link btn btn-secondary" data-bs-dismiss="modal" data-i18n="close--link">Закрыть</button>
                        <button type="submit" class="btn--link btn btn-primary" data-i18n="delete--link">Удалить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<% }); %>