<%comments.forEach((comment, i)=>{%>
<div class="modal fade" id="deleteReadModal<%= i %>" tabindex="-1" aria-labelledby="deleteReadModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/course/comment/<%=comment._id%>/delete" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteReadModalLabel" data-i18n="delete--link">Удалить</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h2 class="btn--link" data-i18n="delete--comment--link">Удалить комментарий</h2>
                        <p class="btn--link" data-i18n="delete--comment--text--link">Вы точно хотите удалить этот комментарий?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn--link btn btn-secondary" data-bs-dismiss="modal" data-i18n="close--link">Закрыть</button>
                        <button type="submit" class="btn--link btn btn-primary" data-i18n="delete--link">Удалить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<%})%>