<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="/css/grid-gallery.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/balabaqsha.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/quickConnection.css">
    <script src="https://cdn.jsdelivr.net/npm/i18next/dist/umd/i18next.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/i18next-browser-languagedetector/dist/umd/i18nextBrowserLanguageDetector.min.js"></script>
</head>
<body>
<div id="navbar-placeholder"></div>
<%- include('../components/balabaqsha');%>
<div class="grid-gallery">
    <img class="grid-gallery__img" src="/assets/slider1.png" alt="">
    <img class="grid-gallery__img" src="/assets/slider2.png" alt="">
    <img class="grid-gallery__img" src="/assets/slider3.png" alt="">
    <img class="grid-gallery__img" src="/assets/slider4.png" alt="">
    <img class="grid-gallery__img" src="/assets/slider5.png" alt="">
    <img class="grid-gallery__img" src="/assets/slider6.png" alt="">
    <img class="grid-gallery__img" src="/assets/slider7.png" alt="">
    <img class="grid-gallery__img" src="/assets/slider8.png" alt="">
    <img class="grid-gallery__img" src="/assets/slider8.png" alt="">
    <img class="grid-gallery__img" src="/assets/slider8.png" alt="">
    <img class="grid-gallery__img" src="/assets/slider8.png" alt="">
    <img class="grid-gallery__img" src="/assets/slider8.png" alt="">
    <img class="grid-gallery__img" src="/assets/slider8.png" alt="">
    <img class="grid-gallery__img" src="/assets/slider8.png" alt="">
    <img class="grid-gallery__img" src="/assets/slider8.png" alt="">
</div>
<%- include('../components/footer');%>
<%- include('../components/quickConnection'); %>

<script type="module" src="/js/imports.js"></script>
<script type="module" src="/js/translation.js"></script>
<script src="/js/quickConnection.js"></script>
</body>
</html>