<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nemere</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/gallery.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/balabaqsha.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/quickConnection.css">
    <script src="https://cdn.jsdelivr.net/npm/i18next/dist/umd/i18next.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/i18next-browser-languagedetector/dist/umd/i18nextBrowserLanguageDetector.min.js"></script>
</head>
<body>
<div class="nemere">
    <div id="navbar-placeholder"></div>
    <div id="balabaqsha-placeholder"></div>
    <section id="why-do-they-love-us">
        <div class="why-do-they-love-us">
            <h1 class="why-do-they-love-us__title">Неге бізді жақсы көреді</h1>
            <div class="why-do-they-love-us__line"></div>
            <div class="why-do-they-love-us__blocks">
                <div class="block">
                    <img class="image-first" src="/assets/book.png" width="100" height="100" alt="">
                    <p class="image-text" data-i18n="image-text-specialists">Білікті мамандар</p>
                </div>
                <div class="block">
                    <img class="image-second" src="/assets/food.png" width="100" height="100" alt="">
                    <p class="image-text" data-i18n="image-text-food">Дәмді тағамдар</p>
                </div>
                <div class="block">
                    <img class="image-third" src="/assets/seminar.png" width="100" height="100" alt="">
                    <p class="image-text" data-i18n="image-text-programs">Тамаша бағдарламалар</p>
                </div>
                <div class="block">
                    <img class="image-fourth" src="/assets/teddy.png" width="100" height="100" alt="">
                    <p class="image-text" data-i18n="image-text-games">Көңілді ойындар</p>
                </div>
            </div>
        </div>
    </section>
    <div id="text-container">
    </div>
    <section id="our-teachers">
        <div class="our-teachers">
            <h1 class="our-teachers__title">Біздің мұғалімдер</h1>
            <div class="teachers">
                <div class="teacher">
                    <img class="teacher__img first" src="/assets/teacher1.png" alt="">
                    <p class="teacher__fio">Байболаева Айнур Сайдахметовна</p>
                </div>
                <div class="teacher">
                    <img class="teacher__img" src="/assets/teacher2.png" alt="">
                    <p class="teacher__fio">Муратханова Асель Архашевна</p>
                </div>
                <div class="teacher">
                    <img class="teacher__img" src="/assets/teacher3.png" alt="">
                    <p class="teacher__fio">Жакина Назгуль Сагындыковна</p>
                </div>
                <div class="teacher">
                    <img class="teacher__img" src="/assets/teacher4.png" alt="">
                    <p class="teacher__fio">Рыскелдинова Айсулу Болаткызы</p>
                </div>
                <div class="teacher">
                    <img class="teacher__img" src="/assets/teacher5.png" alt="">
                    <p class="teacher__fio">Казкен Ботагоз Серикжанова</p>
                </div>
                <div class="teacher">
                    <img class="teacher__img" src="/assets/teacher6.png" alt="">
                    <p class="teacher__fio">Даниярова Тоты Турсынбеккызы</p>
                </div>
                <div class="teacher">
                    <img class="teacher__img" src="/assets/teacher7.png" alt="">
                    <p class="teacher__fio">Болганбаева Райхан Кудайбергенова</p>
                </div>
                <div class="teacher">
                    <img class="teacher__img eight" src="/assets/teacher8.png" alt="">
                    <p class="teacher__fio">Зукашева Альмира Дашоновна</p>
                </div>
                <div class="teacher">
                    <img class="teacher__img" src="/assets/teacher9.png" alt="">
                    <p class="teacher__fio">Касаимова Бибигуль Ерболатовна</p>
                </div>
                <div class="teacher">
                    <img class="teacher__img" src="/assets/teacher10.png" alt="">
                    <p class="teacher__fio">Мусина Бану Кабдылкаховна</p>
                </div>
                <div class="teacher">
                    <img class="teacher__img" src="/assets/teacher11.png" alt="">
                    <p class="teacher__fio">Алмаганбетова Гульнур Саленовна</p>
                </div>
                <div class="teacher">
                    <img class="teacher__img teacher-twelve" src="../../assets/teacher12.png" alt="">
                    <p class="teacher__fio">Рысбекова Айжан Рысбеккызы</p>
                </div>
                <img class="teacher-ellipse" src="/assets/teacher-ellipse.png" alt="">
            </div>
        </div>
    </section>
    <div class="our-gallery">
        <h1 class="our-gallery__title">Біздің галерея</h1>
        <%- include('../components/gallery');%>
        <div class="our-gallery__go-to-gallery">
            <button class="our-gallery__btn">Толығырақ көру</button>
        </div>
    </div>
    <%- include('../components/footer'); %>
    <%- include('../components/quickConnection'); %>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script type="module" src="/js/imports.js"></script>
    <script type="module" src="/js/translation.js"></script>
    <script src="/js/quickConnection.js"></script>
    <script type="module" src="/js/main.js"></script>
    <script type="module" src="/js/gallery.js"></script>
</div>
