<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Учителя</title>
    <link rel="stylesheet" href="/css/teachers.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/balabaqsha.css">
    <link rel="stylesheet" href="/css/quickConnection.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://cdn.jsdelivr.net/npm/i18next/dist/umd/i18next.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/i18next-browser-languagedetector/dist/umd/i18nextBrowserLanguageDetector.min.js"></script>
</head>
<body>
<section id="teachers">
    <div id="navbar-placeholder"></div>
    <div id="balabaqsha-placeholder"></div>
    <div class="content">
        <div class="teacher">
            <div class="teacher__block left">
                <img class="teacher__img first" src="/assets/teacher1.png" alt="">
                <div class="teacher__description">
                    <p class="teacher__fio">Байболаева Айнур Сайдахметовна</p>
                    <p class="teacher__position" data-i18n="teacher__position-manager"></p>
                </div>
                <img class="medal-img" src="/assets/silver-medal.png" alt="">
            </div>
        </div>
        <div class="teacher">
            <div class="teacher__block right">
                <img class="teacher__img" src="/assets/teacher2.png" alt="">
                <div class="teacher__description">
                    <p class="teacher__fio">Муратханова Асель Архашевна</p>
                    <p class="teacher__position" data-i18n="teacher__position-methodist"></p>
                </div>
                <img class="medal-img medal-right" src="/assets/gold-medal.png" alt="">
            </div>
        </div>
        <div class="teacher">
            <div class="teacher__block left">
                <img class="teacher__img" src="/assets/teacher3.png" alt="">
                <div class="teacher__description">
                    <p class="teacher__fio">Жакина Назгуль Сагындыковна</p>
                    <p class="teacher__position" data-i18n="teacher__position-educator"></p>
                </div>
                <img class="medal-img" src="/assets/bronze-medal.png" alt="">
            </div>
        </div>
        <div class="teacher">
            <div class="teacher__block right">
                <img class="teacher__img" src="/assets/teacher4.png" alt="">
                <div class="teacher__description">
                    <p class="teacher__fio">Рыскелдинова Айсулу Болаткызы</p>
                    <p class="teacher__position" data-i18n="teacher__position-educator"></p>
                </div>
                <img class="medal-img medal-right" src="/assets/bronze-medal.png" alt="">
            </div>
        </div>
        <div class="teacher">
            <div class="teacher__block left">
                <img class="teacher__img" src="/assets/teacher5.png" alt="">
                <div class="teacher__description">
                    <p class="teacher__fio">Казкен Ботагоз Серикжанова</p>
                    <p class="teacher__position" data-i18n="teacher__position-educator"></p>
                </div>
                <img class="medal-img" src="/assets/bronze-medal.png" alt="">
            </div>
        </div>
        <div class="teacher">
            <div class="teacher__block right">
                <img class="teacher__img" src="/assets/teacher6.png" alt="">
                <div class="teacher__description">
                    <p class="teacher__fio">Даниярова Тоты Турсынбеккызы</p>
                    <p class="teacher__position" data-i18n="teacher__position-educator"></p>
                </div>
                <img class="medal-img medal-right" src="/assets/gold-medal.png" alt="">
            </div>
        </div>
        <div class="teacher">
            <div class="teacher__block left">
                <img class="teacher__img" src="/assets/teacher7.png" alt="">
                <div class="teacher__description">
                    <p class="teacher__fio">Болганбаева Райхан Кудайбергенова</p>
                    <p class="teacher__position" data-i18n="teacher__position-educator"></p>
                </div>
                <img class="medal-img" src="/assets/bronze-medal.png" alt="">
            </div>
        </div>
        <div class="teacher">
            <div class="teacher__block right">
                <img class="teacher__img teacher__eight" src="/assets/teacher8.png" alt="">
                <div class="teacher__description">
                    <p class="teacher__fio">Буланбаева Ақмарал Ыбрайымханқызы</p>
                    <p class="teacher__position" data-i18n="teacher__position-educator"></p>
                </div>
                <img class="medal-img medal-right" src="/assets/bronze-medal.png" alt="">
            </div>
        </div>
        <div class="teacher">
            <div class="teacher__block left">
                <img class="teacher__img" src="/assets/teacher9.png" alt="">
                <div class="teacher__description">
                    <p class="teacher__fio">Касаимова Бибигуль Ерболатовна</p>
                    <p class="teacher__position" data-i18n="teacher__position-educator"></p>
                </div>
                <img class="medal-img" src="/assets/silver-medal.png" alt="">
            </div>
        </div>
        <div class="teacher">
            <div class="teacher__block right">
                <img class="teacher__img" src="/assets/teacher10.png" alt="">
                <div class="teacher__description">
                    <p class="teacher__fio">Мусина Бану Кабдылкаховна</p>
                    <p class="teacher__position" data-i18n="teacher__position-educator"></p>
                </div>
                <img class="medal-img medal-right" src="/assets/gold-medal.png" alt="">
            </div>
        </div>
        <div class="teacher">
            <div class="teacher__block left">
                <img class="teacher__img" src="/assets/teacher11.png" alt="">
                <div class="teacher__description">
                    <p class="teacher__fio">Алмаганбетова Гульнур Саленовна</p>
                    <p class="teacher__position" data-i18n="teacher__position-educator"></p>
                </div>
                <img class="medal-img" src="/assets/bronze-medal.png" alt="">
            </div>
        </div>
        <div class="teacher">
            <div class="teacher__block right">
                <img class="teacher__img teacher-twelve" src="/assets/teacher12.png" alt="">
                <div class="teacher__description">
                    <p class="teacher__fio">Рысбекова Айжан Рысбеккызы</p>
                    <p class="teacher__position" data-i18n="teacher__position-educator"></p>
                </div>
                <img class="medal-img medal-right" src="/assets/bronze-medal.png" alt="">
            </div>
        </div>
        <div class="teacher">
            <div class="teacher__block left">
                <img class="teacher__img teacher__thirteen" src="/assets/teacher13.png" alt="">
                <div class="teacher__description">
                    <p class="teacher__fio">Байдильдинова Гүлшат Ешмұхамбетқызы</p>
                    <p class="teacher__position" data-i18n="teacher__position-psychology"></p>
                </div>
                <img class="medal-img medal-left" src="/assets/bronze-medal.png" alt="">
            </div>
        </div>
        <div class="teacher">
            <div class="teacher__block right">
                <img class="teacher__img teacher__fourteen" src="/assets/teacher14.png" alt="">
                <div class="teacher__description">
                    <p class="teacher__fio">Дүкенбекова Асем Толеубаевна</p>
                    <p class="teacher__position" data-i18n="teacher__position-educator"></p>
                </div>
                <img class="medal-img medal-right" src="/assets/bronze-medal.png" alt="">
            </div>
        </div>
    </div>
</section>
<div id="footer"></div>
<div id="quick-connection"></div>
<script type="module" src="/js/imports.js"></script>
<script type="module" src="/js/translation.js"></script>
<script src="/js/quickConnection.js"></script>
</body>
</html>
